button{
    color: black;
    font-size: medium;
    border: 1px solid;
}
.increment-btn{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-right: none;
}
.decrement-btn{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-left: none;
}
.add-btn{
    border-radius: 10px;
    color: black;
    background-color: greenyellow;
}